body {
    background-color: rgba(90, 160, 210, 0.1);
}

.content {
    flex: 1;
    margin-left: -55px;
    margin-right: 60px;
    background-color: rgba(211, 157, 199, 0.3);
    padding: 60px;
    border-radius: 8px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    transform: translateY(100px);
    opacity: 0;
    animation: slideUp 1s forwards;
}

.image img {
    max-width: 720px;
    margin-right: -55px;
    border-radius: 8px;
    flex: 0 0 auto; 
    padding-left: 20px; 
}

.welcome {
    font-size: 25px;
}

.content h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 250%;
    margin-bottom: 20px;
}

.heading {
    font-size: 30px;
}

ul {
    padding-left: 20px;
}

@keyframes slideUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
