body{
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

/* .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
} */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    transform: translateX(-100%); /* Start off-screen to the left */
    animation: slideFromLeft 1s forwards; /* Animation to slide in from left */
}


.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    background-color: rgba(245, 235, 251, 0.463);
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.profile-img {
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

textarea.form-control {
    resize: none;
}

button.btn-primary {
    margin-top: 10px;
}


.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.flash-message {
    top: 60px; /* Position at the very top */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050; /* Make sure it's above other elements */
    width: 30%; /* Make it full width */
    left: 400px; /* Position it to the left edge */
    margin-left: 200px;
    right: 0; /* Position it to the right edge */
    position: fixed; /* Fix it at the top of the screen */
}

@keyframes slideFromLeft {
    to {
        transform: translateX(0);
    }
}