{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}

{% block body %}
<div class="container-login">
    <div class="login-box">
        <h2>Account Login</h2>
        <form method="POST" class="login-form">
            <div class="wrap-input100 validate-input" data-validate="Enter username">
                <img src="{{ url_for('static', filename='images/user.png') }}" alt="user" class="icon">
                <input type="text" class="input100" id="username" name="username" placeholder="User name" required>
                <span class="focus-input100" data-placeholder=""></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Enter password">
                <img src="{{ url_for('static', filename='images/pass.png') }}" alt="password" class="icon">
                <input type="password" class="input100" id="password" name="password" placeholder="Password" required>
                <span class="focus-input100" data-placeholder=""></span>
            </div>
            <div class="container-login100-form-btn m-t-32">
                <button type="submit" class="login-btn btn-primary">Login</button>
            </div>
        </form>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-warning fixed-top flash-message" role="alert">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<script>
    // Timeout function to hide flash messages after 4 seconds
    setTimeout(function() {
        var flashMessage = document.querySelector('.flash-message');
        if (flashMessage) {
            flashMessage.remove();
        }
    }, 4000); // 4000 milliseconds = 4 seconds
</script>
{% endblock body %}
