{% extends 'base.html' %}

{% block title %}
    Register
{% endblock title %}

{% block body %}
<div class="container">
    <div class="signup-content">
        <div class="signup-form">
            <h2 class="form-title">Register</h2>
            <form method="POST" class="register-form">
                <div class="mb-3">
                    <img src="{{ url_for('static', filename='images/user.png') }}" alt="user" class="icon">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Your Name" required>
                </div>
                <div class="mb-3">
                    <img src="{{ url_for('static', filename='images/email.png') }}" alt="user" class="icon">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                </div>
                <div class="mb-3">
                    <img src="{{ url_for('static', filename='images/password.png') }}" alt="user" class="icon">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="mb-3">
                    <img src="{{ url_for('static', filename='images/confirm.png') }}" alt="user" class="icon">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Repeat your password" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary form-submit">Register</button>
                </div>
                <a href="#" class="signup-image-link">I am already member</a> 
            </form>
        </div>
        <div class="signup-img">
            <figure>
                <img src="{{ url_for('static', filename='images/register.png') }}" alt="user" class="register">
            </figure>
            
        </div>   
           
    </div>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock body %}
