{% extends 'base.html' %}
{% block title %}
    Update Todo
{% endblock title %}
{% block body %}
<div class="container my-3">
    <div class="update-container">
        <div class="update d-flex align-items-center">
            <h2>Update Todo</h2>
            <img src="{{ url_for('static', filename='images/update.png') }}" alt="Icon" class="icon ms-2">
        </div>
        <br>
        <form action="/update/{{todo.sno}}" method="POST">
            <div class="mb-3">
                <strong><label for="title" class="form-label">Todo Title</label></strong>
                <input type="text" class="form-control todo-update" name="title" id="title" value="{{todo.title}}" required>
            </div>
            <div class="mb-3">
                <strong><label for="desc" class="form-label">Todo Description</label></strong>
                <input type="text" class="form-control todo-update" name="desc" id="desc" value="{{todo.desc}}">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}">
{% endblock body %}
